.speechBubble {
  position: relative;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border: 0;
  background-color: white;
  width: 100%;
  max-width: 200px;
  padding: 25px 20px;
  border-radius: 15px;
  transition: 0.25s transform;
  z-index: 10;
}

.shake {
  animation-name: shakeAnimation;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes shakeAnimation {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}

.speechBubble:before {
  position: absolute;
  top: 99%;
  right: 25px;
  content: '';
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  border-right: 0;
  border-top: 13px solid white;
}

@media only screen and (max-width: 250px) {
  /* remove the tip and add auto sidescroll when screen is less than 250px */
  .speechBubble:before {
    display: none;
  }
  .speechBubble {
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media only screen and (min-width: 700px) {
  .speechBubble {
    border-radius: 25px;
    font-size: 1.2em;
  }

  .speechBubble:before {
    right: 30px;
    border: 25px solid transparent;
    border-bottom: 0;
    border-right: 0;
    border-top: 20px solid white;
  }
}

.speechBubble:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.speechBubble:active {
  transform: scale(0.9);
}

.speechBubble.blowUp {
  animation-name: blowUp;
  animation-duration: 4s;
  animation-iteration-count: 1;
  transform: scale(6) rotate(-20deg);
}

@keyframes blowUp {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(12deg);
  }
  50% {
    transform: scale(1.4) rotate(-34deg);
  }
  75% {
    transform: scale(1.6) rotate(20deg);
  }
  100% {
    transform: scale(6) rotate(-20deg);
  }
}
